---
import styles from "./projects.module.scss";
import ProjectCard from "../ProjectCard/ProjectCard.astro";

const orbital = ["React", "Spring Boot", "PostgreSQL", "Docker"];
const cs2103 = ["React", "TailwindCSS"];
const projects = [
  {
    src: "https://github.com/lemonishi/attenus",
    img: "/attenus.png",
    title: "AtteNUS",
    description:
      "AtteNUS is a platform designed for students and teaching staff to make attendance taking simpler and less complicated.",
    tags: orbital,
  },
];
---

<section class="wrapper">
  <h2 class={styles.title}>Projects</h2>
  <div class={styles.container}>
    {projects.map((project) => <ProjectCard {...project} />)}
  </div>
</section>
