.card {
  --gray: #e3e6ee;

  display: flex;
  flex-direction: column;
  background: var(--gray-600);
  width: 100%;
  max-width: 30em;
  padding: 1.5rem;
  border-radius: 1rem;

  h4 {
    color: var(--gray);
    margin-bottom: 0;
  }

  p {
    color: var(--gray);
  }

  .techStack {
    display: flex;
    gap: 1rem;
    font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
      Liberation Mono, Courier New, monospace;
    padding: 1.25rem 0 0;

    .tag {
      background: var(--gray-700);
      border-radius: 100rem;
      padding: 0.25rem 0.5rem;
    }
  }
}
