---
import styles from "./hero.module.scss";
---

<div class=`wrapper stack ${styles.container}`>
  <h1 class={styles.title}>Lennon Leung.</h1>
  <h4 class={styles.subtitle}>Frontend Developer, based in Singapore.</h4>
  <p class={styles.description}>
    After creating my first small scale web application, I became interested in
    frontend development and started exploring various frontend frameworks and
    projects.
  </p>
</div>
