:root {
  --gray-0: #090b11;
  --gray-50: #141925;
  --gray-100: #283044;
  --gray-200: #3d4663;
  --gray-300: #505d84;
  --gray-400: #6474a2;
  --gray-500: #8490b5;
  --gray-600: #a3acc8;
  --gray-700: #c3cadb;
  --gray-800: #e3e6ee;
  --gray-900: #f3f4f7;
  --gray-999: #ffffff;

  --primary-0: #ffeee5;
  --primary-100: #ffddcc;
  --primary-200: #ffbb99;
  --primary-300: #ff9966;
  --primary-400: #ff7733;
  --primary-500: #ff5500;
  --primary-600: #cc4400;
  --primary-700: #993300;
  --primary-800: #662200;
  --primary-900: #331100;
  --primary-999: #1a0900;

  --secondary-0: #f1f6ef;
  --secondary-100: #e2ecdf;
  --secondary-200: #c6d9bf;
  --secondary-300: #a9c69f;
  --secondary-400: #8db47e;
  --secondary-500: #70a15e;
  --secondary-600: #5a814b;
  --secondary-700: #436039;
  --secondary-800: #2d4026;
  --secondary-900: #162013;
  --secondary-999: #0b1009;

  --accent-0: #ebf9f9;
  --accent-100: #d7f4f2;
  --accent-200: #b0e8e5;
  --accent-300: #88ddd8;
  --accent-400: #61d1cb;
  --accent-500: #39c6bf;
  --accent-600: #2e9e98;
  --accent-700: #227772;
  --accent-800: #174f4c;
  --accent-900: #0b2826;
  --accent-999: #061413;

  --shadow-sm: 0px 6px 3px rgba(9, 11, 17, 0.01),
    0px 4px 2px rgba(9, 11, 17, 0.01), 0px 2px 2px rgba(9, 11, 17, 0.02),
    0px 0px 1px rgba(9, 11, 17, 0.03);
  --shadow-md: 0px 28px 11px rgba(9, 11, 17, 0.01),
    0px 16px 10px rgba(9, 11, 17, 0.03), 0px 7px 7px rgba(196, 203, 224, 0.05),
    0px 2px 4px rgba(9, 11, 17, 0.06);
  --shadow-lg: 0px 62px 25px rgba(9, 11, 17, 0.01),
    0px 35px 21px rgba(9, 11, 17, 0.05), 0px 16px 16px rgba(9, 11, 17, 0.1),
    0px 4px 9px rgba(9, 11, 17, 0.12);

  --font-system: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  --font-body: "Public Sans", var(--font-system);
  --font-brand: Rubik, var(--font-system);

  /* Font Sizes */
  --text-xs: 0.625rem;
  --text-sm: 0.875rem;
  --text-base: 1rem;
  --text-md: 1.125rem;
  --text-lg: 1.25rem;
  --text-xl: 1.625rem;
  --text-2xl: 2.125rem;
  --text-3xl: 2.625rem;
  --text-4xl: 3.125rem;
  --text-5xl: 3.625rem;
  --text-6xl: 4.5rem;

  --theme-transition: 0.2s ease-in-out;
  --delay-1: 0.2s;
  --delay-2: 0.4s;
  --delay-3: 0.6s;
  --delay-4: 0.8s;
}

:root.dark-theme {
  --gray-0: #ffffff;
  --gray-50: #f3f4f7;
  --gray-100: #e3e6ee;
  --gray-200: #c3cadb;
  --gray-300: #a3acc8;
  --gray-400: #8490b5;
  --gray-500: #6474a2;
  --gray-600: #505d84;
  --gray-700: #3d4663;
  --gray-800: #283044;
  --gray-900: #141925;
  --gray-999: #090b11;

  --primary-0: #1a0900;
  --primary-100: #331100;
  --primary-200: #662200;
  --primary-300: #993300;
  --primary-400: #cc4400;
  --primary-500: #ff5500;
  --primary-600: #ff7733;
  --primary-700: #ff9966;
  --primary-800: #ffbb99;
  --primary-900: #ffddcc;
  --primary-999: #ffeee5;

  --secondary-0: #0b1009;
  --secondary-100: #162013;
  --secondary-200: #2d4026;
  --secondary-300: #436039;
  --secondary-400: #5a814b;
  --secondary-500: #70a15e;
  --secondary-600: #8db47e;
  --secondary-700: #a9c69f;
  --secondary-800: #c6d9bf;
  --secondary-900: #e2ecdf;
  --secondary-999: #f1f6ef;

  --accent-0: #061413;
  --accent-100: #0b2826;
  --accent-200: #174f4c;
  --accent-300: #227772;
  --accent-400: #2e9e98;
  --accent-500: #39c6bf;
  --accent-600: #61d1cb;
  --accent-700: #88ddd8;
  --accent-800: #b0e8e5;
  --accent-900: #d7f4f2;
  --accent-999: #ebf9f9;

  --shadow-sm: 0px 6px 3px rgba(255, 255, 255, 0.01),
    0px 4px 2px rgba(255, 255, 255, 0.01), 0px 2px 2px rgba(255, 255, 255, 0.02),
    0px 0px 1px rgba(255, 255, 255, 0.03);
  --shadow-md: 0px 28px 11px rgba(255, 255, 255, 0.01),
    0px 16px 10px rgba(255, 255, 255, 0.03),
    0px 7px 7px rgba(255, 255, 255, 0.05), 0px 2px 4px rgba(255, 255, 255, 0.06);
  --shadow-lg: 0px 62px 25px rgba(255, 255, 255, 0.01),
    0px 35px 21px rgba(255, 255, 255, 0.05),
    0px 16px 16px rgba(255, 255, 255, 0.1),
    0px 4px 9px rgba(255, 255, 255, 0.12);
}

@mixin base {
  min-height: 100%;
  overflow-x: hidden;
}

html {
  @include base;
}

a {
  text-decoration: none;

  &:visited {
    color: var(--gray-200);
  }
}

body {
  @include base;
  background-color: var(--gray-700);
  color: var(--gray-0);
  font-family: var(--font-body);
  -webkit-font-smoothing: antialiased;
  transition: var(--theme-transition);
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5 {
  line-height: 1.1;
  font-family: var(--font-brand);
  font-weight: 600;
  color: var(--gray-100);
}

h1 {
  font-size: var(--text-4xl);
  @media (min-width: 50em) {
    font-size: var(--text-6xl);
  }
}

h2 {
  font-size: var(--text-3xl);
  @media (min-width: 50em) {
    font-size: var(--text-5xl);
  }
}

h3 {
  font-size: var(--text-2xl);
  @media (min-width: 50em) {
    font-size: var(--text-4xl);
  }
}

h4 {
  font-size: var(--text-xl);
}

h5,
p {
  font-size: var(--text-lg);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Utility classes */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.wrapper {
  width: 100%;
  max-width: 80rem;
  margin-inline: auto;
  padding-inline: 1.5rem;
}

.stack {
  display: flex;
  flex-direction: column;
}
