:root {
  --gray-0: #090b11;
  --gray-50: #141925;
  --gray-100: #283044;
  --gray-200: #3d4663;
  --gray-300: #505d84;
  --gray-400: #6474a2;
  --gray-500: #8490b5;
  --gray-600: #a3acc8;
  --gray-700: #c3cadb;
  --gray-800: #e3e6ee;
  --gray-900: #f3f4f7;
  --gray-999: #ffffff;

  --primary-light: #b795fc;
  --primary-regular: #6f2af8;
  --primary-dark: #38157c;

  --secondary-light: #d4c2f7;
  --secondary-regular: #a884ee;
  --secondary-dark: #544277;

  --accent-light: #f0b0c6;
  --accent-regular: #e1618d;
  --accent-dark: #713147;

  --shadow-sm: 0px 6px 3px rgba(9, 11, 17, 0.01),
    0px 4px 2px rgba(9, 11, 17, 0.01), 0px 2px 2px rgba(9, 11, 17, 0.02),
    0px 0px 1px rgba(9, 11, 17, 0.03);
  --shadow-md: 0px 28px 11px rgba(9, 11, 17, 0.01),
    0px 16px 10px rgba(9, 11, 17, 0.03), 0px 7px 7px rgba(196, 203, 224, 0.05),
    0px 2px 4px rgba(9, 11, 17, 0.06);
  --shadow-lg: 0px 62px 25px rgba(9, 11, 17, 0.01),
    0px 35px 21px rgba(9, 11, 17, 0.05), 0px 16px 16px rgba(9, 11, 17, 0.1),
    0px 4px 9px rgba(9, 11, 17, 0.12);

  --font-system: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  --font-body: "Public Sans", var(--font-system);
  --font-brand: Rubik, var(--font-system);

  /* Font Sizes */
  --text-xs: 0.625rem;
  --text-sm: 0.875rem;
  --text-base: 1rem;
  --text-md: 1.125rem;
  --text-lg: 1.25rem;
  --text-xl: 1.625rem;
  --text-2xl: 2.125rem;
  --text-3xl: 2.625rem;
  --text-4xl: 3.125rem;
  --text-5xl: 3.625rem;
  --text-6xl: 4.5rem;

  --theme-transition: 0.2s ease-in-out;
  --delay-1: 0.2s;
  --delay-2: 0.4s;
  --delay-3: 0.6s;
  --delay-4: 0.8s;
}

:root.dark-theme {
  --gray-0: #ffffff;
  --gray-50: #f3f4f7;
  --gray-100: #e3e6ee;
  --gray-200: #c3cadb;
  --gray-300: #a3acc8;
  --gray-400: #8490b5;
  --gray-500: #6474a2;
  --gray-600: #505d84;
  --gray-700: #3d4663;
  --gray-800: #283044;
  --gray-900: #141925;
  --gray-999: #090b11;

  --primary-light: #26046b;
  --primary-regular: #4b07d5;
  --primary-dark: #a583ea;

  --secondary-light: #1a093d;
  --secondary-regular: #331179;
  --secondary-dark: #9988bc;

  --accent-light: #500f26;
  --accent-regular: #9f1e4b;
  --accent-dark: #cf8fa5;

  --shadow-sm: 0px 6px 3px rgba(255, 255, 255, 0.01),
    0px 4px 2px rgba(255, 255, 255, 0.01), 0px 2px 2px rgba(255, 255, 255, 0.02),
    0px 0px 1px rgba(255, 255, 255, 0.03);
  --shadow-md: 0px 28px 11px rgba(255, 255, 255, 0.01),
    0px 16px 10px rgba(255, 255, 255, 0.03),
    0px 7px 7px rgba(255, 255, 255, 0.05), 0px 2px 4px rgba(255, 255, 255, 0.06);
  --shadow-lg: 0px 62px 25px rgba(255, 255, 255, 0.01),
    0px 35px 21px rgba(255, 255, 255, 0.05),
    0px 16px 16px rgba(255, 255, 255, 0.1),
    0px 4px 9px rgba(255, 255, 255, 0.12);
}

@mixin base {
  min-height: 100%;
  overflow-x: hidden;
}

html {
  @include base;
}

a {
  text-decoration: none;

  &:visited {
    color: var(--gray-200);
  }
}

body {
  @include base;
  background-color: var(--gray-999);
  color: var(--gray-0);
  font-family: var(--font-body);
  -webkit-font-smoothing: antialiased;
  transition: var(--theme-transition);
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5 {
  line-height: 1.1;
  font-family: var(--font-brand);
  font-weight: 600;
  color: var(--gray-100);
}

h1 {
  font-size: var(--text-4xl);
  @media (min-width: 50em) {
    font-size: var(--text-6xl);
  }
}

h2 {
  font-size: var(--text-3xl);
  @media (min-width: 50em) {
    font-size: var(--text-5xl);
  }
}

h3 {
  font-size: var(--text-2xl);
  @media (min-width: 50em) {
    font-size: var(--text-4xl);
  }
}

h4 {
  font-size: var(--text-xl);
}

h5,
p {
  font-size: var(--text-lg);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Utility classes */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.wrapper {
  width: 100%;
  max-width: 80rem;
  margin-inline: auto;
  padding-inline: 1.5rem;
}

.stack {
  display: flex;
  flex-direction: column;
}
