---
import type { IconType } from "react-icons/lib";
import styles from "./footer.module.scss";
import { FaInstagram, FaGithub, FaLinkedin } from "react-icons/fa";
---

<footer class={styles.container}>
  <div class={styles.socials}>
    <a href="https://www.instagram.com/lemonishi/?hl=en"><FaInstagram /></a>
    <a href="https://github.com/lemonishi"><FaGithub /></a>
    <a href="https://www.linkedin.com/in/lennon-leung-08aa1a36a/">
      <FaLinkedin />
    </a>
  </div>
  <p>© Lennon Leung 2025</p>
</footer>
